<div class="slides-container">
  <iframe 
    src="https://docs.google.com/presentation/d/e/2PACX-1vRphSkikj2_p7xmhTS-ENThNoAfpCmliFKZqWi9ttMiCFzmjHoP7qtJnsf-rwWDq9jFSXzJ-X9p4o6U/embed?start=false&loop=true&delayms=3000" 
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>

<style>
.slides-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.slides-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
</style>