<div class="slides-container">
  <iframe 
    src="https://docs.google.com/presentation/d/e/2PACX-1vSNW3HkH9ml3sph9Eorc_wF4bRe4WDDl6066t5N6vGS65OMjIqcUWimTw72VRBbH_zr4pk4KV4bCiFS/embed?start=false&loop=true&delayms=3000" 
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>

<style>
.slides-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.slides-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
</style>