<div id="page">
    <div class="boxxx">
        <h2>Course Information</h2>
        <p>
            Course name: Ray's Science Q&A Course<br>
            Instructor: Ray<br>
            Description: A course to ask any questions about science. If Ray can't answer it, you'll get a point.<br>
            Difficulty: N/A
        </p>
    </div>
    <br>
    <div class="boxxx">
        <h2>Course Content</h2>
        <table class="fancy-table">
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 90%;">
                </colgroup>
                <tbody id="ranking-tbody">
                    <tr id="qaitem">
                        <td>1</td>
                        <td>Question Answering</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>