<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <!-- <td style="vertical-align: top">
                <div
                    style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    background-color: lightyellow;
                    border-radius: 5px;
                    font-size: 26px;
                    margin: 0 10px;
                "
                    role="img"
                >
                    &#x1F603;
                </div>
            </td> -->
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Albert Huang</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Staff 工作人員"><img src='https://albair581.github.io/5F/static/staf.png' width="25"></abbr>
                    <p data-i18n="staff">Staff</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">4/17/2025, 2:48:12 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Here's some developer notes: The &lt;iframe&gt; is responsive, and the whole website is also responsive, since it is tested on a Windows laptop, a Windows desktop, a Mac laptop, an iPad, an iPhone, and the dimensions works well on all of them.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Jasmine</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/12 下午9:21:58</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    That's cool!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Kimi J Chuang </strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">9/8/2025, 7:29:26 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Anyone comeback to admire the first edition?
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: I don't think so... XD Plus, this is still the trailer version lol.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <!-- <td style="vertical-align: top">
                <div
                    style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    background-color: lightyellow;
                    border-radius: 5px;
                    font-size: 26px;
                    margin: 0 10px;
                "
                    role="img"
                >
                    &#x1F60F;
                </div>
            </td> -->
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">4/17/2025, 7:49:03 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    make bean bean card page , albert. for the next one make me staff im very active
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Okay...?
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <!-- <td style="vertical-align: top">
                <div
                    style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    background-color: lightyellow;
                    border-radius: 5px;
                    font-size: 26px;
                "
                    role="img"
                >
                    &#x1F606;
                </div>
            </td> -->
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Raphael 游斯惟</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/4/17 下午8:35:21</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Can't wait to hear the next episode!<br>
                    Excited for the next one!
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: We're glad to hear that!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <!-- <td style="vertical-align: top">
                <div
                    style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    background-color: lightyellow;
                    border-radius: 5px;
                    font-size: 26px;
                "
                    role="img"
                >
                    &#x1F60F;
                </div>
            </td> -->
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">4/17/2025, 8:48:06 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    can we maybe do like discord tips like tts
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Of Course! Maybe in the future?
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <!-- <td style="vertical-align: top">
                <div
                    style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    background-color: lightyellow;
                    border-radius: 5px;
                    font-size: 26px;
                    margin: 0 10px;
                "
                    role="img"
                >
                    &#x1F60F;
                </div>
            </td> -->
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">4/19/2025, 10:30:44 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    make a youtube channel for the ebook
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: OK.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        /* padding: 15px 0; */
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <!-- <td style="vertical-align: top">
                <div
                    style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    background-color: lightyellow;
                    border-radius: 5px;
                    font-size: 26px;
                    margin: 0 10px;
                "
                    role="img"
                >
                    &#x1F451;
                </div>
            </td> -->
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Ray</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Staff 工作人員"><img src='https://albair581.github.io/5F/static/staf.png' width="25"></abbr>
                    <p data-i18n="staff">Staff</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/4/23 下午6:11:56</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Great 
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Thanks!!!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>