<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <td style="vertical-align: top">
                <div
                    style="
                    padding: 6px 10px;
                    margin: 0 10px;
                    background-color: lightyellow;
                    border-radius: 5px;
                    font-size: 26px;
                    "
                    role="img"
                >
                    &#x1F603;
                </div>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Albert Huang</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Staff 工作人員"><img src='https://albair581.github.io/5F/static/staf.png' width="25"></abbr>
                    <p data-i18n="staff">Staff</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">4/17/2025, 2:48:12 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Here's some developer notes: The &lt;iframe&gt; is responsive, and the whole website is also responsive, since it is tested on a Windows laptop, a Windows desktop, a Mac laptop, an iPad, an iPhone, and the dimensions works well on all of them.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <td style="vertical-align: top">
                <div
                    style="
                    padding: 6px 10px;
                    margin: 0 10px;
                    background-color: lightyellow;
                    border-radius: 5px;
                    font-size: 26px;
                    "
                    role="img"
                >
                    &#x1F60F;
                </div>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">4/17/2025, 7:49:03 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    make bean bean card page , albert. for the next one make me staff im very active
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <td style="vertical-align: top">
                <div
                    style="
                    padding: 6px 10px;
                    margin: 0 10px;
                    background-color: lightyellow;
                    border-radius: 5px;
                    font-size: 26px;
                    "
                    role="img"
                >
                    &#x1F606;
                </div>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Raphael 游斯惟</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/4/17 下午8:35:21</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Can't wait to hear the next episode!<br>
                    Excited for the next one!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <td style="vertical-align: top">
                <div
                    style="
                    padding: 6px 10px;
                    margin: 0 10px;
                    background-color: lightyellow;
                    border-radius: 5px;
                    font-size: 26px;
                    "
                    role="img"
                >
                    &#x1F60F;
                </div>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">4/17/2025, 8:48:06 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    can we maybe do like discord tips like tts
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Of Course! Maybe in the future?
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>