<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Albert Huang</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Staff 工作人員"><img src='https://albair581.github.io/5F/static/staf.png' width="25"></abbr>
                    <p data-i18n="staff">Staff</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">4/18/2025, 11:39:28 AM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Creators' Notes: New eBook! First official one. Enjoy~ 
                </p>
								<details style="font-size: 18px; color: var(--text-color);">
										<summary>Spoiler Alert  &#x1F6A8;</summary>
										<p>This eBook features our Social Studies Guide Haru explaining World War II!</p>
								</details>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Kimi J Chuang</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">4/28/2025, 8:17:51 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Pls make an ad for the new rivals book
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Please email me your poster or the actual ad and further information, thank you.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>