<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Davina </strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/19 下午6:46:47</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Great! You can make a make bonus questions for us to comment and answer.Ex.How many times the teacher yell at us per day. And the science, English, comic, game stuff( though I have no idea about it) are all perfect! Do I need to adjust the 字音字形level?
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response:  I think your bonus question idea is really good. We will definitely look forward to it and implement it in our next magazine. And about the 字音字形... it is already perfect.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>