<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/26 下午9:29:31</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Everything was perfect and the stick man is funnier than the comic
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">5/23/2025, 6:25:40 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    maybe next time you guys can add the jokes i will put in the discord server ? And probably you guys can like announce whats happening in the world rn
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: That sounds good! We will definitely take note of that. 
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Lucas Yang </strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/22 下午10:38:19</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    The 字音自形 was too hard for me
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Yeah we know. We are making it easier in the next magazine.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Marcus</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/22 下午8:29:08</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Good!
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Thanks!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Kimi J Chuang</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">5/22/2025, 7:53:26 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    More like the hell jokes pls
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Of course!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">5/21/2025, 7:59:17 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    W magazine taught me useful stuff
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Thanks!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/19 下午9:27:10</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Are there 002?
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: We skipped it, since it was test week.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Raphael</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/19 下午9:56:14</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    終於! 好好看喔! 但字音字形可以調整難度嗎? 好難喔! 謝謝!
                </p>
                <br>
                <p style="font-size: 16px;">
                    開發者回覆: 謝謝你的回饋! 我們會在下次的週刊中調整字音字形的難度!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/19 下午9:26:07</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    there are so many authors in the magazine
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: lol
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Albert P.S. not him</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Staff 工作人員"><img src='https://albair581.github.io/5F/static/staf.png' width="25"></abbr>
                    <p data-i18n="staff">Staff</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/19 下午7:43:20</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    if I said bad word here, will I get minus point cause I'm staff
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Ray. Uh... since you're staff... I don't know but still don't do it, the bot is still going to flag you. &#128517;
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Davina </strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/19 下午6:46:47</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Great! You can make a make bonus questions for us to comment and answer.Ex.How many times the teacher yell at us per day. And the science, English, comic, game stuff( though I have no idea about it) are all perfect! Do I need to adjust the 字音字形level?
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response:  I think your bonus question idea is really good. We will definitely look forward to it and implement it in our next magazine. And about the 字音字形... it is already perfect.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
