<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Amber Chou</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/18 下午7:36:30</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I thought the 「ㄐㄧㄥˇ飯」is actually 「ㄉㄨㄥˋ飯」. :)
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Glad you learned something!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Ivan</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/10 下午9:16:27</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I love this amazing math questions .I thought in the 因數way so I am wrong ,but I still thinks the 字音字型always made me excited<br>
                    Thanks to the 字音字型 designer! TYSM
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Wow! The 字音字型 is made by Davina, and we're glad you liked it.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/6/21 上午11:09:28</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    There was a mistake on page 20<br>
                    4+36= 50 ???!!!!!
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Thank you so much!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Lucas Yang</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/6/1 下午10:32:28</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    maybe we should have more 世界大戰 thing
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Well, Haru says he wants switch to Chinese history...
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/27 下午9:02:53</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Who got the idea of 握春? It's hilarious! Wish all the 周刊 has one in it!<br>
                    Five Stars for Happy Magazine!<br>
                    &#11088;&#11088;&#11088;&#11088;&#11088;
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">5/27/2025, 8:11:09 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    reduce amount of jokes and put worlds news? also the 注音is hard or maybe do q & a like “whats ur fav subject” etc school questions, teach some coding ( albert) since u are good at it
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: No problem. 
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Raphael</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/27 下午7:02:44</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    讚讚讚! 那首詩好好笑喔! 那個國字填空好實用! 謝謝Davina 媽媽出的國語填空! 期待下週的開心週刊!
                </p>
                <br>
                <p style="font-size: 16px;">
                    開發者回覆: 謝謝你!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Davina </strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/5/27 下午6:56:28</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    (Hi, I’m hungry. You’re dxxd) It’s funny ! I think I still need to make the 注音easier…… The 說文解字part, I just made it up.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: LOL, thank u!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>