<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Wilbur</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">6/29/2025, 7:57:27 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I love Jeffrey’s channel.I’m excited for the magazine in summer
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Haha, thanks!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Raphael</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/6/22 下午7:22:11</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    test is finally over! one question wIll the magazine continue at 暑假?
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Yes!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">6/20/2025, 9:12:25 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    FINALLY! AFTER THE TEST THE MAGAZINE HAS RELEASED!!! and ty for putting my yt channels , jokes were funny,chinese was not so ez not so hard ( cuz of the words) i got some right actually.Overall great magazine!
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: We are so glad you liked it.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Davina </strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/6/20 下午8:59:36</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Jeffrey’s YouTube video was funny! Love the magazine!<br>
                    Ps.Is that social studies thing from ChatGPT?
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Thanks! Well, yes. We researched and then used ChatGPT to summarize the information into a specific format with all these emojis and tables.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>