<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Albert Huang</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Staff 工作人員"><img src='https://albair581.github.io/5F/static/staf.png' width="25"></abbr>
                    <p data-i18n="staff">Staff</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">6/30/2025, 5:24:48 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    This took us 6 days to make. Please respect all individual rights and our copyrights. 這次的影片耗費的我們6天的時間，請尊重肖像權以及我們的版權。Watch on YouTube: <a href="https://youtu.be/S__nF5b4a3c" target="_blank">https://youtu.be/S__nF5b4a3c</a>
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Raphael</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/6/30 下午11:53:39</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Nice! It’s sixth grade now. We have to prepare for 直升考&hellip;<br>
                    It’s going to be a grade full of tiredness!<br>
                    Add oil guys!
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Yes, exactly, and uh...
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">6/30/2025, 9:20:20 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    welp time goes by fast.. its very good actually btw me ivan and ray look goofy idk why i think that.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Yes... and lol!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Wilbur</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">6/30/2025, 8:22:07 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Champ looks like he’s getting cursed
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: &#128514;&#128514;&#128514;
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">6/30/2025, 7:06:11 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    It's great! But one of Raphael's photo, his eyes was not open.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Hmmm... I can't find it over millions of photos...
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>