<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Albert Huang</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Staff 工作人員"><img src='https://albair581.github.io/5F/static/staf.png' width="25"></abbr>
                    <p data-i18n="staff">Staff</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">6/30/2025, 5:24:48 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    This took us 5 days to make. Please respect all individual rights and our copyrights. 這次的影片耗費的我們5天的時間，請尊重肖像權以及我們的版權。Watch on YouTube: <a href="https://youtu.be/dprP9kaCiF8" target="_blank">https://youtu.be/dprP9kaCiF8</a>
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>