<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/8 下午9:11:56</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I kinda think this magazine would benefit us in the future.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Wow! You think so? lol
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Kimi J Chuang </strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">9/8/2025, 7:24:22 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    The GAG part was da best
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Raphael</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/7 下午9:46:55</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    niceeeeeeeeeeeeeee! i finally get the english jokes! LOL!
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: GFU! And do you have to do nice with a million E's every time? XD
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">9/6/2025, 3:01:04 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    good magazine but can i talk abt grow a garden also cuz i remember 1 raccoon is arround 1000sx cuz people are buying a raccoon for that price yeah and others are also higher cuz of inflation in grow a garden
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Davina</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/6 下午1:39:33</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Great! And who made the binary trivia (I knew the answer)? And the字音字形part is for transition test. Well, seems like Wilbird is a popular name, lol.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Ray made the binary trivia, and yes I added 5 points. For anyone who doesn't know what's transition test, it is 直升考. And Wilbird... &#129315;
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Wilbur</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">9/6/2025, 1:38:32 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I know how to draw the creature that’s called Wilbur.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: &#129315;&#129315;&#129315;
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>ryan</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/6 上午10:44:01</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I like the 中國史part
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Thanks! I started the series. I think Chinese history is very ineteresting. Episode 2 will be in the next magazine.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>