<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Raphael</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/16 下午8:46:09</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    the math question is soooooo hard
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: XD Ray put the question up there... you should solve it with your mom / dad! You can still get points!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/16 下午8:31:42</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Champ really catches the cons of Grow a Garden lol.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">9/14/2025, 9:46:31 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    hi good magazine
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Davina</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/14 上午7:29:17</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    The math question is super duper hard. Nobody would want to spend time on this( I think) However, good magazine!
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: That's why the bounty is 25 pts and labeled hard trivia! lol
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Ivan</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/12 下午9:26:59</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    The math questions are soooooo hard!! &#129327;&#129327;&#129327;&#129327;&#129327;&#128548;
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Haha! That's why you can get 25 points for answering correctly! 
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Jasmine</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/12 下午9:17:22</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    The Weekly English is kinda cool. I think I heard of that word before.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Kimi Chuang</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">9/12/2025, 9:01:20 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Its was so good but maybe u could have more different comics next time?
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Of course! Any suggestions?
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>