<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Wilbur</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">9/22/2025, 9:48:15 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    The mudskipper looks really adorable.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: lol
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Davina</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/21 下午3:23:48</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Yes, the questions are ez compare to my competition today (the hardest thing ever) And the science stuff is cool!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/19 下午9:28:04</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    In Ray's article, I think it must be an expensive dog.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Jasmine</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/19 下午7:52:52</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    The 字音字形 is not very hard this week.(Some questions in the other week are really hard)
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Good to know!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>