<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/30 下午8:33:49</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I think this one was the most educational magazine I've ever seen! 👍👍👍👍👍
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Glad you liked it!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>