<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="display: flex; align-items: flex-end; gap: 12px;">
                    <div>
                      <div style="display: flex; align-items: center; gap: 6px;">
                        <strong style="color: var(--primary-color); font-size: 16px;">Bella</strong>
                      </div>
                      <div style="color: var(--text-color); font-size: 15px;">2025/10/5 下午2:34:29</div>
                    </div>
                </div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I think the video was the only one I found it educational in the list of all the other videos I've seen.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: LOL! The videos are selected by Ray.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="display: flex; align-items: flex-end; gap: 12px;">
                    <!-- <img src="https://albair581.github.io/5F/static/raphael_avatar.jpg" class="avatar"> -->
                    <div>
                      <div style="display: flex; align-items: center; gap: 6px;">
                        <strong style="color: var(--primary-color); font-size: 16px;">Chelsea Tseng</strong>
                        <!-- <abbr title="Certified Contributor 貢獻者">
                          <img src="https://albair581.github.io/5F/static/cont.png" width="20" style="vertical-align: middle;">
                        </abbr>
                        <span data-i18n="contri" style="color: var(--primary-color); font-size: 14px;">Contributor</span> -->
                      </div>
                      <div style="color: var(--text-color); font-size: 15px;">10/4/2025, 12:10:20 PM</div>
                    </div>
                </div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    1. I have no idea about what the answers are &#x1F92F; <br>
                    2. bruh! Everyone video is muted because of “preventing unwanted jumpscares “ &#x1F62C;
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: <br>
                    1. :)<br>
                    2. Haha, sometimes you get jumpscared by the audio because the volume is too high.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>