<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="display: flex; align-items: flex-end; gap: 12px;">
                    <div>
                      <div style="display: flex; align-items: center; gap: 6px;">
                        <strong style="color: var(--primary-color); font-size: 16px;">Bella</strong>
                      </div>
                      <div style="color: var(--text-color); font-size: 15px;">2025/11/9 下午5:37:48</div>
                    </div>
                </div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    OMG I can't believe the math question this time was way too much harder than last time's.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Actually, someone solved it!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>