<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="display: flex; align-items: flex-end; gap: 12px;">
                    <div>
                      <div style="display: flex; align-items: center; gap: 6px;">
                        <strong style="color: var(--primary-color); font-size: 16px;">Lucas</strong>
                        <abbr title="Certified Contributor 貢獻者">
                          <img src="https://albair581.github.io/5F/static/cont.png" width="20" style="vertical-align: middle;">
                        </abbr>
                        <span data-i18n="contri" style="color: var(--primary-color); font-size: 14px;">Contributor</span>
                      </div>
                      <div style="color: var(--text-color); font-size: 15px;">2025/11/20 下午9:14:28</div>
                    </div>
                </div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Ray's Trivia!!!You put the "thing" up there. Unfortunately, my computer broken-i cant send the message
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Hi! Can we know what exactly do you mean?
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="display: flex; align-items: flex-end; gap: 12px;">
                    <div>
                      <div style="display: flex; align-items: center; gap: 6px;">
                        <strong style="color: var(--primary-color); font-size: 16px;">Kimi C</strong>
                        <abbr title="Certified Contributor 貢獻者">
                          <img src="https://albair581.github.io/5F/static/cont.png" width="20" style="vertical-align: middle;">
                        </abbr>
                        <span data-i18n="contri" style="color: var(--primary-color); font-size: 14px;">Contributor</span>
                      </div>
                      <div style="color: var(--text-color); font-size: 15px;">11/18/2025, 10:34:40 PM</div>
                    </div>
                </div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Wheres the Garfield comics?
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: We didn't put them on this time, would you like them in future magazines?
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>