<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="display: flex; align-items: flex-end; gap: 12px;">
                    <div>
                      <div style="display: flex; align-items: center; gap: 6px;">
                        <strong style="color: var(--primary-color); font-size: 16px;">uhh my name is Ian of course ( duhh )</strong>
                      </div>
                      <div style="color: var(--text-color); font-size: 15px;">2026/1/22 下午9:29:01</div>
                    </div>
                </div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    im only doing this bcuz i want more points than Champ so plss Albert gimme some pointsss<br>
                    okook the first issue is about the cooking part- you didnt tell me the ingredients so idk what to buy to make that
                    second, the pages that you let Ryan make are too unorganized so you gotta check that out<br>
                    third you are using informal languages like me in the mail that you said there is a new email but this is serious so nooooooooooooooooo
                    ok fourth this math question isnt helpful to the incoming test so please make it better<br>
                    fifth the small quizzes are only math related not like before bcuz english is gonna be hard so add some grammer practice<br>
                    sixth idk how to redeem stuff like that quick reply thingy do i use the id or the name<br>
                    seventh i think that video is too scary so it might make people afraid<br>
                    eighth this super comment looks useless so tell me the uses so i wont be afraid that something will happen if i press it<br>
                    and ninth the ai comment reply has too less uses so it cant talk to me<br>
                    tenth can you give me ten points please???? <br>
                    ok i finally get how to use super comment now it changes color so.......<br>
                    answer me fast bcuz these are important!!!!<br>
                    ok wait it doesnt allow me to use super comment so it adds up to eleven questions!<br>
                    pls reply bro Albert<br>
                    oh wait twelth the jokes arent funny!<br>
                    k g'dbye<br>
                    oh wait the thirteenth question is idk which address i need to put this in so help me bro<br>
                    .......<br>
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: ok. so first, the max I can go is like 3, probably no more. cuz of regulations.<br>
                    to answer ur questions:<br>
                    1. what cooking part i dun remember there was a cooking part?<br>
                    2. i thk it is just fine...? it's good, and it has been on the magazine for like a lot of times already.<br>
                    3. is it serious though? (see? im using very informal lang rn)<br>
                    4. lol i thk u dun know how 2 solve<br>
                    5. kk i will im gonna mk them so hard u wunt know how 2 solve<br>
                    6. to redeem stuff, take some time to scroll down to the bottom of the page. SCROLL.<br>
                    7. what vid? the antonio vivaldi vid? (shrug)<br>
                    8. nothing will happen since u didnt redeem it yet (it's suppose to make ur comments look like raphael's if u can find one)<br>
                    9. lol<br>
                    10. no.<br>
                    11. mhmm. refer to point number 8.<br>
                    12. ok... do u hv some suggestions? i rly need some<br>
                    13. what address?<br>
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="display: flex; align-items: flex-end; gap: 12px;">
                    <div>
                      <div style="display: flex; align-items: center; gap: 6px;">
                        <strong style="color: var(--primary-color); font-size: 16px;">Annie廖婕米</strong>
                      </div>
                      <div style="color: var(--text-color); font-size: 15px;">2026/1/21 下午2:55:21</div>
                    </div>
                </div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I subscribed ☺️
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Good for you!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="display: flex; align-items: flex-end; gap: 12px;">
                    <div>
                      <div style="display: flex; align-items: center; gap: 6px;">
                        <strong style="color: var(--primary-color); font-size: 16px;">Kimi J Chuang</strong>
                        <abbr title="Certified Contributor 貢獻者">
                          <img src="https://albair581.github.io/5F/static/cont.png" width="20" style="vertical-align: middle;">
                        </abbr>
                        <span data-i18n="contri" style="color: var(--primary-color); font-size: 14px;">Contributor</span>
                      </div>
                      <div style="color: var(--text-color); font-size: 15px;">1/20/2026, 9:31:53 PM</div>
                    </div>
                </div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Hhhhheeeyyyyy........ wheres my part? I sent it!
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Yes, I know. Take your time!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>