<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">6/30/2025, 7:11:26 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I really wish the magazine would be read by Teacher Kevin. ( Maybe he understand ur English jokes by the summer )
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Hmmm... We'll think about that.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>