<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Ivan</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/9/10 下午9:16:27</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I thought I suggest u to put it on the magazine? Well I think the joke is so funny my reaction:&#128518;&#128518;&#128518;&#128514;&#128514;&#128513;&#128518;&#128516;&#128515;
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Ah yes. Changed. I got really confused since... yeah. Sorry. Also, glad you enjoyed the jokes!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Jeffrey</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/7/25 下午4:45:54</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    ik im late cuz i havent been notified abt the magazine lol but overall great magazine can i maybe add abbreviations like lol pmo and others? i could also make grow a garden
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Yeah... I figured out I shout notify people about our magazine since many people got confused. and about the abbreviations, I'm not sure what it is that you mean, and we'll think about grow a garden (although I have no idea what it is)
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Davina </strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/7/15 下午4:56:04</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    My mom’s comment: I think the jokes are funny. For the 字音字形part, the stories are incredibly impossible, please do not believe it is real.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: This sent me laughing on the floor! &#128518;
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Kimi J Chuang</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">7/10/2025, 5:55:50 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    This edition is soooooo much better with the more fun stuff the more info
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: This is the free version, so we manually update im info throughout summer irregularly. The paid version (lol) gives you access to all the stuff plus winter edition in the future (redeem beforehand).
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br> 
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Raylol</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Staff 工作人員"><img src='https://albair581.github.io/5F/static/staf.png' width="25"></abbr>
                    <p data-i18n="staff">Staff</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/7/10 下午5:14:31</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    you need a truck of banana to make you die because of radiation, and not to mention that you die before you ate a whole truck of banana.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: XD... lol
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Ben</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/7/5 下午1:00:54</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    The corner could possibly be 90 degrees kelvin
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: HAHA! XD. So scientific, but actually it's true. Never thought Kelvin could come up here.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Wilbur</strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">7/1/2025, 5:38:27 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    Thank you for telling me the word word. I know how to use it now.
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Word word&hellip;? OHHHHHHHHHHHHHHHHH!!!!! &#128514; P.S. Your comment is 13 seconds after Davina posted hers!
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Davina </strong>
                    &nbsp;&nbsp;&nbsp;
                    <abbr title="Certified Contributor 貢獻者"><img src='https://albair581.github.io/5F/static/cont.png' width="25"></abbr>
                    <p data-i18n="contri">Contributor</p>
                </div>
                <div style="color: var(--text-color); font-size: 15px">2025/7/1 下午7:38:14</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I‘m so curious about how the teachers would respond if they see our magazine! great
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: That's exactly what Bella asked for! We will definitely consider this.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>
<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Bella</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">6/30/2025, 7:11:26 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    I really wish the magazine would be read by Teacher Kevin. ( Maybe he understand ur English jokes by the summer )
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Hmmm... We'll think about that.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>