<div style="font-family: inherit; font-size: 12px" class="boxxx-card">
    <div
    style="
        margin: 20px;
        padding: 15px 0;
        border-width: 1px 0;
        border-style: double;
        border-color: var(--text-color);
    "
    >
    <table role="presentation">
        <tr>
            </td>
            <td style="vertical-align: top">
                <div style="color: var(--primary-color); font-size: 16px; display: flex;">
                    <strong>Chelsea Tseng</strong>
                </div>
                <div style="color: var(--text-color); font-size: 15px">9/29/2025, 5:25:03 PM</div>
                <br>
                <p style="font-size: 18px; font-style: italic;">
                    wow but why does it jump from page 1 to 5
                </p>
                <br>
                <p style="font-size: 16px;">
                    Developer's Response: Those skipped pages were edit rules during the activity.
                </p>
            </td>
        </tr>
    </table>
    </div>
</div>
<br>