<section class="welcome-section" style="text-align: left; width: 85%;">
	  <h2>Learn How to Acquire the App!</h2>
    <h3>1. Share This Website</h3>
    <p>In, Safari &nbsp;
        <img src="https://help.apple.com/assets/67B3DC69C33F63574F01B3A4/67B3DC6DC33F63574F01B3B0/en_US/f8660f96ce0f82918cdf1d0c55951e06.png" alt height="30" width="30" originalimagename="GlobalArt/IL_Safari.png">
            , open this website and tap on the&nbsp;
        <span style="display: inline-block;">
            <img src="https://help.apple.com/assets/679ACFFC701C3B09880E6EBF/679ACFFD1992284E810D08E3/en_GB/197e575aa407b2e8a25b6d966b3169c4.png" alt height="30" width="25" originalimagename="SharedGlobalArt/IL_Share.png">
        </span>
        &nbsp;icon, 
        <p>Scroll down the list of options, then tap Add to Home Screen.</p>
<p>
"If you don’t see Add to Home Screen, you can add it. Scroll down to the bottom of the list, tap Edit Actions, then tap "
<img src="https://help.apple.com/assets/67B3DC69C33F63574F01B3A4/67B3DC6DC33F63574F01B3B0/en_US/7c24a87974c9f3d927f73dd5edc48c38.png" alt height="30" width="30" originalimagename="GlobalArt/IL_AddPlusGreen.png">
" Add to Home Screen."
</p>
    </p>
</section>