<section class="welcome-section" style="text-align: left; width: 90%;">
    <div>
        <h1 style="cursor: pointer" onclick="$(`#english-app-instruct`).toggle()">English</h1>
        <div id="english-app-instruct" style="display: none">
            <h2>Learn How to Acquire the App! (Mobile)</h2>
            <h3>iOS Safari / iOS Chrome</h3>
            <p>In your browser, open this website and tap on the&nbsp;
                <span style="display: inline-block;">
                    <img src="https://help.apple.com/assets/679ACFFC701C3B09880E6EBF/679ACFFD1992284E810D08E3/en_GB/197e575aa407b2e8a25b6d966b3169c4.png" alt height="20" width="15" originalimagename="SharedGlobalArt/IL_Share.png">
                </span>
                &nbsp;icon located at the top right corner, &nbsp;
                scroll down the list of options, then tap &quot;Add to Home Screen&quot;.
                &nbsp;If you don’t see Add to Home Screen, you can add it. Scroll down to the bottom of the list, tap Edit Actions, then tap &quot;
                <img src="https://help.apple.com/assets/67B3DC69C33F63574F01B3A4/67B3DC6DC33F63574F01B3B0/en_US/7c24a87974c9f3d927f73dd5edc48c38.png" alt height="20" width="20" originalimagename="GlobalArt/IL_AddPlusGreen.png">
                &nbsp;Add to Home Screen&quot;.
                </p>
            </p>
            <br>
            <h3>iOS Firefox</h3>
            <p>In Firefox, open this website, but this time, the &nbsp;
                <span style="display: inline-block;">
                    <img src="https://help.apple.com/assets/679ACFFC701C3B09880E6EBF/679ACFFD1992284E810D08E3/en_GB/197e575aa407b2e8a25b6d966b3169c4.png" alt height="20" width="15" originalimagename="SharedGlobalArt/IL_Share.png">
                </span>
                &nbsp;icon is located at the top left corner. The rest remains the same as Safari.
            </p>
            <br>
            <h3>Android Chrome</h3>
            <p>
                Don't worry -- we gotchu. Go to the settings and simply click install. Android made our life and your life easier.
                <br>
                But if you REALLY want to try it out yourself, here are the instructions from Google:
                <a href="https://support.google.com/chrome/answer/9658361?hl=en&co=GENIE.Platform%3DAndroid&oco=1" target="_blank">Instructions from Google</a>
            </p>
            <br>
            <h3>Other Mobile Browsers</h3>
            <p>Find the share icon and then add this website to your home screen.</p>
            <br>
            <h2>Learn How to Acquire the App! (Mac)</h2>
            <h3>Safari (Mac)</h3>
            <p>In Safari, open this website and tap on the&nbsp;
                <span style="display: inline-block;">
                    <img src="https://help.apple.com/assets/679ACFFC701C3B09880E6EBF/679ACFFD1992284E810D08E3/en_GB/197e575aa407b2e8a25b6d966b3169c4.png" alt height="20" width="15" originalimagename="SharedGlobalArt/IL_Share.png">
                </span>
                &nbsp;icon located at the top right corner, &nbsp;
                scroll down the list of options, then tap &quot;Add to Dock&quot;.
                </p>
            </p>
            <br>
            <h2>Learn How to Acquire the App! (Windows)</h2>
            <h3>Edge (Windows)</h3>
            <p>In edge, open this website, find the 3 dots (...) on the top right corner of the browser.
                Find the apps section and then choose &quot;Install this site as an app&quot;.
            </p>
            <br>
            <hr>
            <br>
            <h3>More Information</h3>
            <p>Chrome &RightArrow; <a href="https://support.google.com/chrome/answer/9658361?hl=en&co=GENIE.Platform%3DDesktop&oco=1" target="_blank">Chrome Support</a></p>
            <p>Edge &rightarrow; <a href="https://answers.microsoft.com/en-us/microsoftedge/forum/all/creating-web-apps-in-microsoft-edge/bcc02ba3-9fbc-4f3f-b854-741b792f6e9b" target="_blank" rel="noopener noreferrer">Edge Support</a></p>
            <p>Mac Safari &rightarrow; <a href="https://support.apple.com/en-us/104996" target="_blank">Apple Support</a></p>
            <p>iOS Safari &RightArrow; <a href="https://support.apple.com/en-il/guide/iphone/iph42ab2f3a7/ios#iph4f9a47bbc" target="_blank">Apple Support</a></p>
        </div>
    </div>
    <div>
        <h1 style="cursor: pointer" onclick="$(`#chinese-app-instruct`).toggle()">中文</h1>
        <div id="chinese-app-instruct" style="display: none">
            <h2>如何取得應用程式 (行動裝置)</h2>
            <h3>iOS Safari / iOS Chrome</h3>
            <p>在指定瀏覽器中，打開此網站，然後點擊右上方的&nbsp;
                <span style="display: inline-block;">
                    <img src="https://help.apple.com/assets/679ACFFC701C3B09880E6EBF/679ACFFD1992284E810D08E3/en_GB/197e575aa407b2e8a25b6d966b3169c4.png" alt height="20" width="15" originalimagename="SharedGlobalArt/IL_Share.png">
                </span>
                &nbsp;圖標，&nbsp;
                往下捲動，找到 &quot;加入主畫面&quot;.
                &nbsp;如果沒有看到，可以手動新增。捲動到最底部，編輯動作，然後選擇&quot;
                <img src="https://help.apple.com/assets/67B3DC69C33F63574F01B3A4/67B3DC6DC33F63574F01B3B0/en_US/7c24a87974c9f3d927f73dd5edc48c38.png" alt height="20" width="20" originalimagename="GlobalArt/IL_AddPlusGreen.png">
                &nbsp;加入主畫面&quot;.
                </p>
            </p>
            <br>
            <h3>iOS 火狐</h3>
            <p>在火狐瀏覽器，打開此網站，但是這次要點擊左上方的 &nbsp;
                <span style="display: inline-block;">
                    <img src="https://help.apple.com/assets/679ACFFC701C3B09880E6EBF/679ACFFD1992284E810D08E3/en_GB/197e575aa407b2e8a25b6d966b3169c4.png" alt height="20" width="15" originalimagename="SharedGlobalArt/IL_Share.png">
                </span>
                &nbsp;圖標。其餘和 iOS Safari 相同。
            </p>
            <br>
            <h3>安卓 Chrome</h3>
            <p>
                不要擔心 -- 我們已經為你準備好了。到設定並簡單地點選安裝。安卓讓我們和你更加方便。
                <br>
                如果你很想要自己嘗試看看，可以參考 Google 的指示:
                <a href="https://support.google.com/chrome/answer/9658361?hl=en&co=GENIE.Platform%3DAndroid&oco=1" target="_blank">前往網站</a>
            </p>
            <br>
            <h3>其他行動裝置瀏覽器</h3>
            <p>試著找到分享網站的圖標，然後將此網站加入主畫面。</p>
            <br>
            <h2>如何取得應用程式 (Mac 電腦)</h2>
            <h3>Safari (Mac)</h3>
            <p>和 iOS Safari 非常相似</p>
            <br>
            <h2>如何取得應用程式 (Windows 電腦)</h2>
            <h3>Edge (Windows)</h3>
            <p>在Edge瀏覽器打開此網站，電擊右上方的三個點，然後選擇，APP (或類似的選項)，&quot;安裝此網站為應用程式&quot;。</p>
            <br>
            <hr>
            <br>
            <h3>更多資訊</h3>
            <p>Chrome &RightArrow; <a href="https://support.google.com/chrome/answer/9658361?hl=en&co=GENIE.Platform%3DDesktop&oco=1" target="_blank">Chrome 支援</a></p>
            <p>Mac Safari &rightarrow; <a href="https://support.apple.com/en-us/104996" target="_blank">蘋果 支援</a></p>
            <p>iOS Safari &RightArrow; <a href="https://support.apple.com/en-il/guide/iphone/iph42ab2f3a7/ios#iph4f9a47bbc" target="_blank">蘋果支援</a></p>
        </div>
    </div>
    <div>
        <h1 style="cursor: pointer" onclick="$(`#japanese-app-instruct`).toggle()">日本語</h1>
        <div id="japanese-app-instruct" style="display: none">
            <h2>申し訳ありませんが、ここでは日本語をサポートしていません。</h2>
        </div>
    </div>
</section>