<section class="welcome-section" id="bookview-board">
    <div class='boxxx'>
        <label for='email' style="font-size: 0.85rem">Your school email:</label><br>
        <input type='email' id='email' name="email"/><br>
        <label for='name' style="font-size: 0.85rem">Your name:</label><br>
        <input type='text' id='name' name="name"/><br>
        <label for='message' style="font-size: 0.85rem">Your feedback:</label><br>
        <textarea type='text' id='message' name="message"/><br>
    </div>
</section>