<section class="welcome-section" id="bookview-board">
    <form class='boxxx'>
        <label for='email' style="font-size: 0.85rem" data-i18n="g-email">School Emaill:</label>
        <br>
        <input type='email' id='email' name="email" pattern="[0-9]{6}@wgps\.tp\.edu\.tw" class="svalidate" required>
        <br>
        <label for='name' style="font-size: 0.85rem" data-i18n="g-name">Full Name:</label>
        <br>
        <input type='text' id='name' name="name" class="svalidate" required>
        <br>
        <label for='message' style="font-size: 0.85rem" data-i18n="g-feedback">Feedback:</label>
        <br>
        <textarea id='message' name="message" rows="5" cols"60" class="svalidate" required></textarea>
        <br>
        <button data-i18n="g-sub">Submit</button>
    </form>
</section>