<section class="welcome-section" id="bookview-board">
    <br>
    <hr>
    <br>
    <h2 data-i18n="leave-feedback">留下您寶貴的意見吧!</h2>
    <form class='boxxx' id="feedback-form" style="width: 80vw;">
        <label for='email' style="font-size: 0.85rem" data-i18n="g-email">School Email:</label>
        <br>
        <input type='email' id='feedback-email' name="email" pattern="[0-9]{6}@wgps\.tp\.edu\.tw" class="svalidate" required>
        <br>
        <label for='name' style="font-size: 0.85rem" data-i18n="g-name">Full Name:</label>
        <br>
        <input type='text' id='feedback-name' name="name" class="svalidate" required>
        <br>
        <label for='message' style="font-size: 0.85rem" data-i18n="g-feedback">Feedback:</label>
        <br>
        <textarea id='feedback-message' name="message" rows="5" cols="60" class="svalidate" required></textarea>
        <br>
        <br>
        <div id="captcha-feed" class="g-recaptcha" data-callback="captchaCall" data-expired-callback="captchaEx"></div>
        <script>
            var onloadCallback = function() {
                grecaptcha.render("captcha-feed", {
                    'sitekey' : '6Lcukx4rAAAAAMLKx4G8auK6xCC_A6hn5e3kgKrZ',
                    'theme' : localStorage.getItem('darkMode') === 'true' ? 'dark' : 'light'
                });
            };

            var captchaCall = function() {
                $("#g-submit").prop("disabled", false);
                $("#g-submit").css("cursor", "pointer");
            }

            var captchaEx = function() {
                $("#g-submit").prop("disabled", true);
                $("#g-submit").css("cursor", "not-allowed");
            }
        </script>
        <br>
        <button data-i18n="g-sub" id="g-submit" style="cursor: not-allowed;" disabled>Submit</button>
        <br>
        <p data-i18n="antispam">Please do not spam feedbacks or post inappropriate content. Inappropriate content may vary, and we will leave that to the system bot to decide.If we detect suspicious activity, you will get a warning.</p>
    </form>
    <br>
    <hr>
    <br>
    <h2 data-i18n="other-feedback">其他使用者留下的意見</h2>
    <div id="other-feedbacks">
        
    </div>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</section>