<section class="welcome-section">
    <h2 data-i18n="b.b.">布告欄</h2>
    <p data-i18n="b.b.-info">最新資訊!</p>
    <br><hr><br>
    <div class="boxxxxxx">
        <h3>Technical issues FIXED</h3>
        <strong>2025/05/18</strong>
        <p>We finally fixed our technical issues. The new 003 magazine will be publishing today! Our next magazine 004 will be publishing if everything is according to plan, on 05/26.</p>
        <h3>修復技術問題</h3>
        <p>終於修復了技術問題！新的003週刊今天就會發布了。如果沒有耽誤到，004週刊預計會在05/26發布，敬請期待！</p>
    </div>
    <br>
    <div class="boxxxxxx">
        <h3>Technical issues</h3>
        <strong>2025/05/15</strong>
        <p>Due to technical issues, our developer could't publish the new magazine on time. We will try our best to publish before Tuesday. We sincerely apologize for any incovenience caused.</p>
        <h3>技術問題</h3>
        <p>由於開發者正經歷許多「技術問題」，無法準時出版新的週刊，但我們會盡力在下週二以前出刊。造成不便，敬請見諒！</p>
    </div>
    <br>
    <div class="boxxxxxx">
        <h3>We are promoting the Points feature!</h3>
        <strong>2025/05/13</strong>
        <p>We now open the feature to allow everyone to get points for doing good deeds and redeem perks!</p>
        <h3>我們正在推廣集點功能!</h3>
        <p>現在大家可以透過行好事的到分數，換取福利！</p>
    </div>
    <br>
    <div class="boxxxxxx">
        <h3>We are promoting the course feature!</h3>
        <strong>2025/05/01</strong>
        <p>We now open the feature to create your on course on our website and teach everyone!</p>
        <h3>我們正在推廣課程功能!</h3>
        <p>現在你們都可以在我們的網站上自己開課程，教導全部人!</p>
    </div>
    <br>
    <div class="boxxxxxx">
        <h3>Today is Champ's Birthday!!!!!!</h3>
        <strong>2025/04/30</strong>
        <p>Let's celebrate Champ's birthday together~</p>
        <h3>今天是劉宇宸生日!!!!!!</h3>
        <p>一起為他慶祝生日吧~</p>
    </div>
    <br>
    <div class="boxxxxxx">
        <h3>We have canceled the Test Review Magazine.</h3>
        <strong>2025/04/29</strong>
        <p>Readers have had OPINIONS about the Test Review Magazine, saying that it's too boring. Plus, our staff has no time to actually make the magazine, because we also need  to review hard ourselves. So... we are canceling the Test Review Magazine.</p>
        <h3>我們取消了考前複習雜誌</h3>
        <p>部分讀者反映考前複習雜誌太無聊。加上，我們的工作人員也要複習，沒有時間製作雜誌。因此，我們取消了考前複習雜誌。</p>
    </div>
</section>