<section class="welcome-section">
    <h2 data-i18n="b.b.">五義布告欄</h2>
    <p data-i18n="b.b.-info">我們班級的最新資訊!</p>
    <br><hr><br>
    <div class="boxxxxxx">
        <h3>We are promoting the course feature!</h3>
        <strong>2025/05/12</strong>
        <p>We now open the feature to create your on course on our website and teach everyone!</p>
        <h3>我們正在推廣課程功能!</h3>
        <p>現在你們都可以在我們的網站上自己開課程，教導全部人!</p>
    </div>
    <br>
    <div class="boxxxxxx">
        <h3>We are promoting the course feature!</h3>
        <strong>2025/05/12</strong>
        <p>We now open the feature to create your on course on our website and teach everyone!</p>
        <h3>我們正在推廣課程功能!</h3>
        <p>現在你們都可以在我們的網站上自己開課程，教導全部人!</p>
    </div>
    <br>
    <div class="boxxxxxx">
        <h3>Today is Champ's Birthday!!!!!!</h3>
        <strong>2025/04/30</strong>
        <p>Let's celebrate Champ's birthday together~</p>
        <h3>今天是劉宇宸生日!!!!!!</h3>
        <p>一起為他慶祝生日吧~</p>
    </div>
    <br>
    <div class="boxxxxxx">
        <h3>We have canceled the Test Review Magazine.</h3>
        <strong>2025/04/29</strong>
        <p>Readers have had OPINIONS about the Test Review Magazine, saying that it's too boring. Plus, our staff has no time to actually make the magazine, because we also need  to review hard ourselves. So... we are canceling the Test Review Magazine.</p>
        <h3>我們取消了考前複習雜誌</h3>
        <p>部分讀者反映考前複習雜誌太無聊。加上，我們的工作人員也要複習，沒有時間製作雜誌。因此，我們取消了考前複習雜誌。</p>
    </div>
</section>