<section class="welcome-section">
    <h2 data-i18n="credits">致謝</h2>
    <div class="boxxx">
        <p data-i18n="staff">工作人員名單:</p>
        <p data-i18n="c-ceo">陳柏睿 - 董事長 & 電子書發行人</p>
        <p data-i18n="c-dev">黃聿辰 - 網站發行人 & 資安管理員</p>
        <p data-i18n="c-user">葉奕辰 -使用者管理員</p>
        <p data-i18n="c-suer">李昕翰 - 資安部成員</p>
        <p data-i18n="c-illustrate">李昕玹 - 繪畫家</p> 
        <p data-i18n="c-enter">魏伯赫、劉宇宸、黃星堯、黃宥誠、王品勛、游斯惟 - 娛樂資料提供者</p>
        <p data-i18n="c-chin">黃緯翔、林奕彤 - 國語知識提供者</p>
        <p data-i18n="c-scien">陳柏睿、葉奕辰 - 自然知識提供者</p>
        <p data-i18n="c-eng">莊子樂、黃聿辰、王品勛 - 英語知識提供者</p>
        <p data-i18n="c-math">楊秉宸、黃星堯、劉宇宸 - 數學知識提供者</p>
        <p data-i18n="c-ss">王成宇、曾若晴、李天睿 - 社會知識提供者</p>
        <br><hr><br>
        <p data-i18n="thanks">感謝以下機構或創作家:</p>
        <a href="https://www.flaticon.com/free-icon/happy_10477524?term=smile&related_id=10477524" title="笑臉圖案 Smile Icon" target="_blank" data-i18n="fav-credits">Favicon created by Illosalz - Flaticon</a><br>
        <a href="https://www.flaticon.com/free-icon/guarantee_8921352?term=certified&related_id=8921352" target="_blank" title="認證圖案 Certified Icon" data-i18n="ceri-credits">Certified icon created by Wahyu Adam - Flaticon</a><br>
        <a href="https://unsplash.com/photos/assorted-book-lot-XT-o5O458as" title="大背景圖 Hero Image" target="_blank" data-i18n="hero-credits">Image created by Ugur Akdemir - Unsplash</a>
    </div>
</section>