<section class="welcome-section">
    <h2 data-i18n="credits">致謝</h2>
    <div class="boxxx">
        <p data-i18n="stafflist">工作人員名單:</p>
        <p data-i18n="c-ceo">陳柏睿 - 董事長 & 電子書發行人</p>
        <p data-i18n="c-dev">黃聿辰 - 網站發行人 & 資安管理員</p>
        <p data-i18n="c-user">葉奕辰 -使用者管理員</p>
        <p data-i18n="c-suer">李昕翰 - 資安部成員</p>
        <p data-i18n="c-illustrate">李昕玹 - 繪畫家</p> 
        <p data-i18n="c-enter">魏伯赫、劉宇宸、黃星堯、黃宥誠、王品勛、游斯惟 - 娛樂資料提供者</p>
        <p data-i18n="c-chin">黃緯翔、林奕彤 - 國語知識提供者</p>
        <p data-i18n="c-scien">陳柏睿、葉奕辰 - 自然知識提供者</p>
        <p data-i18n="c-eng">莊子樂、黃聿辰、王品勛 - 英語知識提供者</p>
        <p data-i18n="c-math">楊秉宸、黃星堯、劉宇宸 - 數學知識提供者</p>
        <p data-i18n="c-ss">王成宇、曾若晴、李天睿 - 社會知識提供者</p>
        <br><hr><br>
        <p data-i18n="thanks">感謝以下機構或創作家:</p>
        <a href="https://www.flaticon.com/free-icon/happy_10477524?term=smile&related_id=10477524" title="笑臉圖案 Smile Icon" target="_blank" data-i18n="fav-credits">Favicon created by Illosalz - Flaticon</a><br>
        <a href="https://www.flaticon.com/free-icon/guarantee_8921352?term=certified&related_id=8921352" target="_blank" title="認證圖案 Certified Icon" data-i18n="ceri-credits">Certified icon created by Wahyu Adam - Flaticon</a><br>
        <a href="https://unsplash.com/photos/assorted-book-lot-XT-o5O458as" title="大背景圖 Hero Image" target="_blank" data-i18n="hero-credits">Image created by Ugur Akdemir - Unsplash</a>
    </div>

    <br><hr><br>

    <div style="text-align: left;">
        <h1>eBook Copyright 電子書版權 雑誌の著作権</h1>
        <h2>Usage Restrictions 使用限制 制限事項</h2>

        Copyright (c) 2025, Happy eBooks Team
        <br><br>

        <p>
        Our magazines are made by lots of hard-working people, please respect their copyrights.
        By accessing or using the magazines on this website, you agree to the following terms:<br>
        1. <strong>No Distribution</strong>: You may not share, upload, transmit, or distribute the magazines in any form (digital or physical) to others, including via email, file-sharing platforms, or printed copies.<br><br>
        2. <strong>No Commercial Use</strong>: Selling, renting, leasing, or otherwise profiting from the magazines is strictly prohibited.<br><br>
        3. <strong>No Modifications</strong>: You may not edit, adapt, translate, or create derivative works from the eBooks.<br><br>
        4. <strong>No Downloading for Redistribution</strong>: Downloading magazines for the purpose of redistribution is not permitted.<br><br>
        5. <strong>Updates</strong>: We have to right to change the terms at anytime, but we will notify users. We have the right to make decisions for violations not listed here.<br><br>
        Violation of these terms may result in legal action and termination of your access.
        </p>
        <br>
        <p>
        週刊許多人辛苦做出來的，請尊重我們的版權。
        使用本網站的週刊即表示您同意以下條款：<br>
        1. <strong>禁止散佈</strong>：您不得以任何形式（數位或實體）分享、上傳、傳輸或分發週刊，包括電子郵件、文件共享平台或印刷副本。<br><br>
        2. <strong>禁止商業用途</strong>：嚴禁出售、出租、租賃或以其他方式從週刊中獲利。<br><br>
        3. <strong>禁止修改</strong>：您不得編輯、改編、翻譯或基於週刊創作衍生作品。<br><br>
        4. <strong>禁止下載後再分發</strong>：不得下載週刊用於重新分發。<br><br>
        5. <strong>更新</strong>: 我們保有隨時更改條款的權利，但是會通知使用者。我們保有處置沒有列入這裡的違規行為的權利。<br><br>
        違反上述條款可能導致法律追究及終止您的訪問權限。
        </p>
        <br>
        <p>
        私たちの雑誌は多くの勤勉な人々によって作られています。彼らの著作権を尊重してください。
        本ウェブサイト上の雑誌にアクセスまたは使用することにより、お客様は以下の条件に同意するものとします。<br>
        1. <strong>配布禁止</strong>：お客様は、電子メール、ファイル共有プラットフォーム、印刷物など、いかなる形式（デジタルまたは物理）においても、雑誌を他者と共有、アップロード、送信、または配布することはできません。<br><br>
        2. <strong>商用利用禁止</strong>：雑誌を販売、貸与、リース、またはその他の方法で利益を得ることは固く禁じられています。<br><br>
        3. <strong>改変禁止</strong>：お客様は、雑誌を編集、翻案、翻訳、または派生作品を作成することはできません。<br><br>
        4. <strong>再配布目的のダウンロード禁止</strong>：再配布目的で雑誌をダウンロードすることは許可されていません。<br><br>
        5. <strong>更新</strong>: 当社は、本規約をいつでも変更する権利を有しますが、利用者に通知します。また、本規約に記載されていない違反行為についても、弊社が判断する権利を有します。<br><br>
        これらの条件に違反した場合、法的措置が取られ、アクセスが停止される可能性があります。
        </p> 

        <br><hr><br>
        <h1>Website Copyright 網站版權 ウェブサイトの著作権</h1>
        <h2>BSD 3-Clause License</h2>

        Copyright (c) 2025, Albair581
        <br><br>
        Redistribution and use in source and binary forms, with or without
        modification, are permitted provided that the following conditions are met:<br>
        <br>
        1. Redistributions of source code must retain the above copyright notice, this
        list of conditions and the following disclaimer.<br>
        <br>
        2. Redistributions in binary form must reproduce the above copyright notice,
        this list of conditions and the following disclaimer in the documentation
        and/or other materials provided with the distribution.<br>
        <br>
        3. Neither the name of the copyright holder nor the names of its
        contributors may be used to endorse or promote products derived from
        this software without specific prior written permission.<br>
        <br>
        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
        AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
        DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
        FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
        DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
        OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
        OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.<br>
        <br><br>
        
        To use our service means you are automatically bound by these terms.

        <h2>BSD 3 條款授權</h2>

        版權所有 (c) 2025，Albair581<br>
        <br><br>
        以原始碼和二進位形式重新分發和使用，無論是否
        修改，但須滿足以下條件：<br>
        <br>
        1. 原始碼的重新分發必須保留上述版權聲明，這
        條件清單和以下免責聲明。<br>
        <br>
        2. 以二進位形式重新散佈必須複製上述版權聲明，
        此條件清單和文件中的以下免責聲明
        和/或分發時提供的其他資料。<br>
        <br>
        3. 版權持有人的名稱及其
        貢獻者可能會被用來認可或推廣來自
        未經事先書面許可，不得使用本軟體。<br>
        <br>
        本軟體由版權所有者和貢獻者「按原樣」提供
        以及任何明示或暗示的保證，包括但不限於
        適銷性和特定用途的適用性的默示保證是
        免責聲明。在任何情況下，版權所有者或貢獻者均不承擔責任
        對於任何直接、間接、偶然、特殊、懲戒性或後果性的
        損害賠償（包括但不限於採購替代貨物或
        服務；使用、數據或利潤的損失；或業務中斷）然而
        造成的，以及任何責任理論，無論是合約責任、嚴格責任、
        或因使用而引起的任何形式的侵權行為（包括疏忽或其他）
        即使已被告知有此類損害的可能性，您仍應承擔由此軟體造成的損害的責任。<br>
        <br><br>
        
        使用我們的服務意味著您自動受這些條款的約束。


        <h2>BSD 3条項ライセンス</h2>

        Copyright (c) 2025, Albair581
        <br><br>
        ソースコードおよびバイナリ形式での再配布および使用は、改変の有無にかかわらず、以下の条件を満たす場合に許可されます。<br>
        <br>
        1. ソースコードの再配布には、上記の著作権表示、この条件一覧、および以下の免責事項を含める必要があります。<br>
        <br>
        2. バイナリ形式での再配布には、上記の著作権表示、この条件一覧、および以下の免責事項を、配布に付属するドキュメントおよび/またはその他の資料に再現する必要があります。<br>
        <br>
        3. 著作権者の名前またはその貢献者の名前は、事前の書面による明確な許可なしに、本ソフトウェアから派生した製品の推奨または宣伝に使用することはできません。<br>
        <br>
        本ソフトウェアは、著作権者および貢献者によって「現状有姿」で提供され、
        明示的または黙示的な保証（商品性および特定目的への適合性に関する黙示的な保証を含みますが、
        これらに限定されません）は一切放棄されます。いかなる場合においても、著作権者または貢献者は、
        本ソフトウェアの使用に起因して生じた、いかなる直接的、間接的、偶発的、特別、懲罰的、
        または結果的な損害（代替品またはサービスの調達、使用、データ、または利益の喪失、
        または事業の中断を含むがこれらに限定されない）についても、契約責任、厳格責任、
        または不法行為（過失その他を含む）に基づくか否かを問わず、
        たとえ当該損害の可能性について知らされていたとしても、一切の責任を負わないものとします。<br>
        <br><br>

        当社のサービスをご利用いただくことは、お客様が自動的に本規約に拘束されることを意味します。
    </div>
</section>