<section class="welcome-section">
    <h2 data-i18n="credits">致謝</h2>
    <div class="boxxx">
        <p data-i18n="thanks">感謝以下機構或創作家:</p>
        <a href="https://www.flaticon.com/free-icon/happy_10477524?term=smile&related_id=10477524" title="笑臉圖案 Smile Icon" target="_blank" data-i18n="fav-credits">Favicon created by Illosalz - Flaticon</a><br>
        <a href="https://unsplash.com/photos/assorted-book-lot-XT-o5O458as" title="大背景圖 Hero Image" target="_blank" data-i18n="hero-credits">Image created by Ugur Akdemir - Unsplash</a>
    </div>
</section>