<section class="welcome-section">
    <div class="boxxxxxx">
        <h2 data-i18n="inventory">INVENTORY</h2>
    </div>
    <br>
    <div class="boxxxxxx">
        <h2 data-i18n="scoreboard">Scoreboard</h2>
    </div>
    <br>
    <div class="boxxxxxx" style="text-align: center;">
        <h2 data-i18n="perks-rules">Exchange Rules</h2>
        <div class="boxxxxxx" style="width: 100%; text-align: left;">
            <h3>How to Get Points 如何得到分數</h3>
            <p>* Good comments earn scores! 好的留言可獲得分數。</p>
            <p>* Useful contributions earn scores! 好的貢獻可獲得分數。</p>
            <p>* Bad behavior loses scores! 壞的行為會扣分。</p>
            <p>* Comment spams lose scores! 垃圾留言扣分。</p>
            <p>* Violating rules loses scores! 違規會扣分。</p>
            <br>
            <p> &rightarrow; How much scores depends. 加/扣分的數量有我方決定。</p>
        </div>
        <br>
        <div class="boxxxxxx" style="width: 100%; text-align: left;">
            <h3>How to Redeem Points 如何兌換分數</h3>
            <p>1. Email <a href="" target="_blank" onclick="window.open(`mailto:happy.ebook.staff@gmail.com?subject=REDEEMING&body=I am [ your name ] and I'd like to redeem my scores for [ perk ID ] !`)">happy.ebook.staff@gmail.com</a></p>
            <p>2. Wait for us to reply. 等待我們回覆。</p>
            <p>3. Use the secret code in the reply to redeem your perk. 用回覆裡的密碼來兌換您的福利。</p>
            <br>
            <p> &rightarrow; The perk will only remain on the device you redeemed it with. 福利只會在你兌換的裝置上存在。</p>
            <p> &rightarrow; The secret code will expire within a week, so quickly redeem it. 密碼會在一週內過期，請盡快兌換。</p>
        </div>
    </div>
</section>