<section class="welcome-section">
    <div class="boxxxxxx">
        <h2 data-i18n="inventory">INVENTORY</h2>
    </div>
    <br>
    <div class="boxxxxxx">
        <h2 data-i18n="scoreboard">BANK</h2>
        <p style="font-style: italic;" data-i18n="scoreboard-notice">Activity started on 5/17, does not include staff.</p><br>
        <table class="fancy-table">
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 50%;">
                <col style="width: 40%;">
            </colgroup>
            <thead>
                <tr>
                    <th>&num;</th>
                    <th data-i18n="ranking-name">Name</th>
                    <th data-i18n="scores">Points</th>
                </tr>
            </thead>
            <tbody id="ranking-tbody">
                
            </tbody>
        </table>
    </div>
    <script>
        function sortData(data) {
            return data.sort((a, b) => b.points - a.points);
        }

        function displayTable(data) {
            const tbody = $("#ranking-tbody");
            tbody.empty();

            data.forEach((item, index) => {
                console.log("append row:", item.name, item.points); // Debug log
                tbody.append(`
                    <tr>
                        <td>${index + 1}</td>
                        <td>${item.name}</td>
                        <td>${item.points}</td>
                    </tr>
                `);
            });
        }

        fetch('ranking.json')
            .then(response => response.json())
            .then(data => {
                const sortedData = sortData(data);
                displayTable(sortedData);
            })
            .catch(error => console.error('Error fetching JSON:', error));
    </script>
    <br>
    <div class="boxxxxxx" style="text-align: center;">
        <h2 data-i18n="perks-rules">Exchange Rules</h2>
        <div class="boxxxxxx" style="width: 100%; text-align: left;">
            <h3>Store 商店</h3>
            <div class="boxxxxxx" style="display: flex; width: 100%; overflow: auto;">
                <div style="flex: 0 0 25%; max-width: 25%;">
                    <img src="perks/priorreply.svg" alt="Priority Reply" style="width: 100%;" class="perk-img">
                </div>
                <div style="
                    flex: 1;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                ">
                    <h3 style="font-size: 35px; margin: 0;">優先回覆 Prior Replies</h3>
                    <p style="margin: 0; font-size: 15px;">ID: 1 &nbsp;&nbsp;&nbsp; 10pts</p>
                    <p style="margin: 0; font-size: 20px;">
                        我們通常要1~3天才會把留言審核完畢，有這個就可以更快。另外，這也可以讓你得到優先的留言回覆! You can get earlier replies from us and faster processing time!
                    </p>
                </div>
            </div><br>
            <div class="boxxxxxx" style="display: flex; width: 100%; overflow: auto;">
                <div style="flex: 0 0 25%; max-width: 25%;">
                    <img src="perks/supercomment.svg" alt="Super Comment" style="width: 100%;" class="perk-img">
                </div>
                <div style="
                    flex: 1;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                ">
                    <h3 style="font-size: 35px; margin: 0;">超級留言 Super Comment</h3>
                    <p style="margin: 0; font-size: 15px;">ID: 2 &nbsp;&nbsp;&nbsp; 15pts</p>
                    <p style="margin: 0; font-size: 20px;">
                        這個可以讓你的留言置頂，也可以自己選顏色，特別的明顯。得到的分數也會依照留言內容增加喔! Your comments will be more customizable and stay at the top!
                    </p>
                </div>
            </div><br>
            <div class="boxxxxxx" style="display: flex; width: 100%; overflow: auto;">
                <div style="flex: 0 0 25%; max-width: 25%;">
                    <img src="perks/skin.svg" alt="Skin" style="width: 100%;" class="perk-img">
                </div>
                <div style="
                    flex: 1;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                ">
                    <h3 style="font-size: 35px; margin: 0;">網站皮膚 Website "Skin"</h3>
                    <p style="margin: 0; font-size: 15px;">ID: 3 &nbsp;&nbsp;&nbsp; 15pts</p>
                    <p style="margin: 0; font-size: 20px;">
                        獎項模仿玩電玩的讀者們，可以提供圖片連結，取代原本上方的圖書櫃圖片! You can provide a link to an image to replace the bookshelf image at the top of the page!
                    </p>
                </div>
            </div><br>
            <div class="boxxxxxx" style="display: flex; width: 100%; overflow: auto;">
                <div style="flex: 0 0 25%; max-width: 25%;">
                    <img src="perks/earlyview.svg" alt="Beta Ticket" style="width: 100%;" class="perk-img">
                </div>
                <div style="
                    flex: 1;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                ">
                    <h3 style="font-size: 35px; margin: 0;">試閱新刊 Beta Ticket</h3>
                    <p style="margin: 0; font-size: 15px;">ID: 4 &nbsp;&nbsp;&nbsp; 25pts</p>
                    <p style="margin: 0; font-size: 20px;">
                        這樣就可以先看還在製作中的新週刊，例如下一期的週刊提前看等。You can now see the next magazine earlier!
                    </p>
                </div>
            </div><br>
            <div class="boxxxxxx" style="display: flex; width: 100%; overflow: auto;">
                <div style="flex: 0 0 25%; max-width: 25%;">
                    <img src="perks/bigdecision.svg" alt="Big Decision" style="width: 100%;" class="perk-img">
                </div>
                <div style="
                    flex: 1;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                ">
                    <h3 style="font-size: 35px; margin: 0;">重大決定 Make Changes</h3>
                    <p style="margin: 0; font-size: 15px;">ID: 5 &nbsp;&nbsp;&nbsp; 40pts</p>
                    <p style="margin: 0; font-size: 20px;">
                        加入我們一起改善整個服務! Join us and make this service even better! (此獎項不可在網站上領取，請另洽。This perk is unavailable on this site, notify us to redeem.)
                    </p>
                </div>
            </div><br>
            <div class="boxxxxxx" style="display: flex; width: 100%; overflow: auto;">
                <div style="flex: 0 0 25%; max-width: 25%;">
                    <img src="perks/staffresume.svg" alt="Staff Resume" style="width: 100%;" class="perk-img">
                </div>
                <div style="
                    flex: 1;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                ">
                    <h3 style="font-size: 35px; margin: 0;">員工面試 Become Staff</h3>
                    <p style="margin: 0; font-size: 15px;">ID: 6 &nbsp;&nbsp;&nbsp; 60pts</p>
                    <p style="margin: 0; font-size: 20px;">
                        以此面試成為員工的機會，一起為更好的週刊效勞。A chance to become staff and make better magazines with us!
                    </p>
                </div>
            </div><br>
            <div class="boxxxxxx" style="display: flex; width: 100%; overflow: auto;">
                <div style="flex: 0 0 25%; max-width: 25%;">
                    <img src="perks/holidayspec.svg" alt="Holiday Special" style="width: 100%;" class="perk-img">
                </div>
                <div style="
                    flex: 1;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                ">
                    <h3 style="font-size: 35px; margin: 0;">假期特刊 Holiday Special</h3>
                    <p style="margin: 0; font-size: 15px;">ID: 7 &nbsp;&nbsp;&nbsp; 65pts</p>
                    <p style="margin: 0; font-size: 20px;">
                        以此兌換暑假和寒假的神秘特別刊...? Get the special magazine for both summer and winter vacation...?
                    </p>
                </div>
            </div><br>
            <div class="boxxxxxx" style="display: flex; width: 100%; overflow: auto;">
                <div style="flex: 0 0 25%; max-width: 25%;">
                    <img src="perks/blindbox.svg" alt="Blind Box" style="width: 100%;" class="perk-img">
                </div>
                <div style="
                    flex: 1;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                ">
                    <h3 style="font-size: 35px; margin: 0;">神秘盲盒 Blind Box</h3>
                    <p style="margin: 0; font-size: 15px;">ID: 8 &nbsp;&nbsp;&nbsp; 33pts</p>
                    <p style="margin: 0; font-size: 20px;">
                        隨機得到以上的福利，有可能虧損點數，也可能賺! Take a risk and get a random perk! You may lose points or save points!
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="boxxxxxx" style="width: 100%; text-align: left;">
            <h3>How to Get Points 如何得到分數</h3>
            <p>* Good comments earn 1 to 2 point each! 好的留言可獲得一到兩分。</p>
            <p>* Useful contributions earn 3 to 5 points each! 好的貢獻可獲得三到五分。</p>
            <p>* Reporting rule violators earn 10 points each! 檢舉犯規這可得十分。</p>
            <p>* Bad behavior loses scores! 壞的行為會扣分。 (DEPENDS)</p>
            <p>* Comment spams lose 10 points! 垃圾留言扣十分。</p>
            <p>* Violating rules loses 50 points! 違規會扣五十分。</p>
            <br>
            <p>* 5% interest every week! 每週配5%的利息! (四捨五入到小數後2位 Rounded to 2 decimal places)</p>
            <p>* 5% interest every week for loan. 貸款（負分）每週收5%的利息! (四捨五入到小數後2位 Rounded to 2 decimal places)</p>
            <br>
            <p> &rightarrow; How much scores depends. 加/扣分的數量有我方決定。</p>
        </div>
        <br>
        <div class="boxxxxxx" style="width: 100%; text-align: left;">
            <h3>How to Redeem Points 如何兌換分數</h3>
            <p>1. Email <a href="" target="_blank" onclick="window.open(`mailto:happy.ebook.staff@gmail.com?subject=REDEEMING&body=I am [ your name ] and I'd like to redeem my scores for [ perk ID ] !`)">happy.ebook.staff@gmail.com</a></p>
            <p>2. Wait for us to reply. 等待我們回覆。</p>
            <p>3. Use the secret code in the reply to redeem your perk. 用回覆裡的密碼來兌換您的福利。</p>
            <br>
            <p> &rightarrow; The perk will only remain on the device you redeemed it with. 福利只會在你兌換的裝置上存在。</p>
            <p> &rightarrow; The secret code will expire within a week, so quickly redeem it. 密碼會在一週內過期，請盡快兌換。</p>
        </div>
    </div>
</section>